*{
    margin: 0;
}
.header{
    background-color:  #5F9EA0;
    width: 100%;
    height: 100px;
}
body{
    background: url(bg\ 3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#spanduk{
    text-align: center;
    color:rgb(22, 82, 105);
    font-family: "Ink Free";
    font-weight: bold;
    font-size: 32px;
    height: 90px;
}
.kotak{ 
    text-align: center;
    margin:50px auto;
    border-radius:30px;
    background-color: rgba(244, 247, 250, 0.795);
    width:450px;
    height:320px;
    padding-bottom:0px;
}
.tombol{
    text-align: center;
    margin:50px auto;
    border-radius:20px;
    border: 10px;
    height: 200px;
    width: 300px;
}

.footer{
    background-color:#5F9EA0;
    height: 40px;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;

}
.cc {
    float: left;
    font-family: "Segoe UI";
    color: white;
    font-size: 14px;
    padding-top: 10px;
    text-decoration: none;
}
.button {
    position:relative;
    border: 0;
    padding:2px 7px;
    left:-14px;
    background-color:#5F9EA0;
    border:1px solid #A9A9A9;
    color:white; 
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
    cursor: pointer;
}
.header .logo{    
    text-align: right;
    font-family: 'Segoe UI';
    font-size: 40px;
    color: white;     
}
.menu{
    float: right;
    padding: 5px 70px 5px 50px;
}
.menukanan{   
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI';
    font-size: 15px;
    padding: 10px;
}
.menukanan:hover{
    color: teal;
}
.kotakcari{
    float: left;
}
.menukiri .jenjang{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.menukiri .materi {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.daftar, .masuk {
    background-color: rgba(129, 168, 192, 0.788);
    width: 100px;
    height: 50px;
    border: honeydew;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Segoe UI";
    color:white;
}
#daftar, #masuk{
    text-decoration: none;
}
.daftar:hover, .masuk:hover{
    background-color:white;
    color: #5F9EA0;
    cursor: pointer;
    
}
.aboutus a{
    float: right;
    font-family: "Segoe UI";
    color: white;
    font-size: 14px;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
}
#lupa{
    text-decoration: none;
    color: gray;
    font-family: "Segoe UI";
    font-size: 12px;
    
}
.menukiri li a {
    text-decoration: none;	
}
.menukiri{
    margin: 8px ;
    padding: 0;
    color: white;
}
.menukiri:hover{
    background-color:#fafafa;
    cursor: pointer;
}
.menukiri li {
    float: left;
    text-decoration: none;
    list-style: none;
    width: 10%;
    height: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
    font-family: Segoe UI; 
    font-size: 15px;
}
.menukiri li:hover ul{
    display: block;
}
.menukiri li ul{
    display: none;
}
.menukiri li a{
    text-decoration: none;	
    color:teal;
}
.menukiri li ul li{
    width: 100%;
    height: 30px;
    border: 1px solid grey;
    margin: 0px -20px;
    background-color: white;
    opacity: 90%;
    border-radius: 5px;
    }
.menukiri li a{
    text-decoration: none;	
    } 

@media screen and (max-width: 460px) {
    .wrapper{
        width: 100%;
    }
    .header {
        width: 100%;
        padding: 0;

    }
    .header .logo{
        font-size: 200%;

    }
    .menu{
        float: right;
        padding: 0;
    }
    .menukanan{
        padding-left: 3px;
    }
    .footer{
        width: 100%;
        bottom: 0;
        padding: 0;
        
        
    }    
    .menukiri .jenjang{
        display: none;
    }

    .menukiri .materi {
        display: none;
        }

    .search {
        width: 20%;
        margin: auto;
        }
    .button {
        margin: auto;}

    .kotak{
        width: 70%;
        margin: 20% auto;
    }

    .tombol{
        width: 60%;
        margin: auto;
    }
    .icon{
        display: none;
    }
    #spanduk p{
        font-size: 80%;
    }
    .cc{
        font-size: 80%;
    }
}