	html,body {
   		margin:0;
   		padding:0;
   		height:100%;
	}
    button[type=submit]{
    	position:relative;
    	padding: 7px 16px;
    	left:-8px;
    	border:1px solid #A9A9A9;
    	background-color:#5F9EA0;
    	color:#fafafa;
    	border-radius: 8px;
    	margin: 0px 160px auto;
    }
    button[type=submit]:hover{
    	background-color:#fafafa;
    	color:#207cca;
    	cursor: pointer;
    }
	.wrap{
		min-height: 100%;
    	position: relative;
	}
	.wrap .header{
		background-color:#5F9EA0;
		width:100%;
		padding:10px;
	}
	.wrap .header #judul{
		color: white;
		font-size: 40px;
		font-family: Segoe UI;
		margin: 5px 20px;
		text-align: right;
	}
	.wrap .content{
		padding:10px;
   		padding-bottom:40px; 
	}
	.wrap .header #menu1{
		margin: 5px 60px;
	}
	.wrap .header #menu1 li {
    	float: right;
    	list-style: none;
    	margin-left: 15px;
    	margin-right: 15px;	
	}
	.wrap .header #menu1 li a {
    	text-decoration: none;
    	color: white;
    	font-size: 15px;
    	font-family: Segoe UI;	
	}
	.wrap .header #menu2{
		margin: 8px ;
		padding: 0;
		color: white;
	}
	.wrap .header #menu2:hover{
		background-color:#fafafa;
    	cursor: pointer;
	}
	.wrap .header #menu2 li {
    	float: left;
    	text-decoration: none;
    	list-style: none;
    	width: 10%;
    	height: 30px;
    	text-align: center;
    	z-index: 1;
    	position: relative;
    	font-family: Segoe UI;
	}
	.wrap .header #menu2 li:hover ul{
		display: block;
		cursor: pointer;

	}
	.wrap .header #menu2 li ul{
		display: none;

	}
	.wrap .header #menu2 li ul li{
		width: 100%;
		height: 30px;
		border: 1px solid grey;
		margin: 0px -20px;
		background-color: white;
		opacity: 90%;
		border-radius: 5px;
	}
	.wrap .header #menu2 li a{
    	text-decoration: none;	
    	color: teal;
	}

	.wrap .header .cari {
    	position:relative;
    	padding: 2px 7px;
    	left:-8px;
    	border:1px solid #A9A9A9;
    	background-color:#5F9EA0;
    	color:#fafafa;
	}
	.wrap .header .cari:hover  {
    	background-color:#fafafa;
    	color:#207cca;
    	cursor: pointer;
	}
	.wrap .content .form {
		margin: 50px auto;
		border-radius:50px;
		background-color:#eaeaea;
		border:4px #5F9EA0 outset;
		width:380px;
		height: 400px;
	}
	.wrap .content .form #masuk{
		font-family: Segoe UI;
		font-size: 10px;
		color: gray;
		text-align: center;
	}
	.wrap .content .form #masuk #masuk2{
		text-align: center;
		font-family: Segoe UI;
		font-size: 10px;
		color:black;
		text-decoration: none;
	}
	.wrap .content .form .upload{
		margin: 50px auto;
		border-radius:10px;
		background-color:#eaeaea;
		border:4px black outset;
		width:250px;
		height: 150px;
		border-style: dashed;
	}
	.wrap .content .form #checkbox{
		text-align: center;
		font-family: Segoe UI;
		font-size: 10px;
		color: gray;
	}
	.wrap .footer {
		background-color:#5F9EA0;
		height:40px;
		position:absolute;
		width:100%;
		padding: 10px;
	}
	.wrap .footer #footer{
		margin: 15px;
		float: right;
		font-family: segoe UI;
		font-size: 13px;
		color: white;
	}
	.wrap .footer #twitter, #facebook, #google{
		float:right;
		width:25px;
		height:25px;
		margin:9px;
		text-decoration: none
	}
	.wrap .footer #footer1{
		float: left;
		margin: 15px;
		text-decoration: none; 
		font-family: Segoe UI;
		font-size: 13px;
		color: white;
	}
	.wrap .footer #footer1, #footer2, #footer3, #footer{
		text-decoration: none;
		font-family: Segoe UI;
		font-size: 13px;
		color: white;
	
	}
	@media screen and (max-width: 460px){
	.wrap .content .form {
		margin: 55px auto;
		width:95%;
	}
	button[type=submit]{
    	margin: 0px 140px auto;
    }
	.wrap .footer {
		height:8%;
		width:100%;
	}
	.wrap .footer #twitter, #facebook, #google{
		float:none;
		margin: auto;
		display: none;
	}
	.wrap .footer #footer{
		float: none;
		margin: auto;
		display: none;
		
	}
	.wrap .header #judul{
		font-size: 200%;
	}
	.wrap .header #menu2{
		margin: 8px ;
    	display: none;
	}
	.wrap .header #menu1{
		margin: auto;
    	padding: 0;
	}
	.wrap .header .kotak{
		margin: : auto;
		width: 20%;
	}
	.wrap .header .cari {
		margin: auto;

	}
	.wrap .footer #footer1, #footer2, #footer3{
		font-size: 75%;
	}
}